<a href="https://colab.research.google.com/github/MigueLesPaul/tropishelf/blob/master/My_Jupyter_Notebook_on_IBM_Watson_Studio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Jupyter Notebook on IBM Watson Studio

**Miguel Hinojosa Fernández**
Current ocupation: Assitant Researcher

*I am interested in Data Science because I started studying atmospheric physics and meteorology. This lead to the first encounters with programming and modelling and eventually, the advantages of using new methodologies used outside of the atmospheric sciences introduced me to the concepts of data science.*

### In the next cell I will be calculating the mean of an array

In [3]:
import numpy as np
np.array([4,5,6,7,3,4,5,5,4,8.7]).mean()

5.17


[IBM Developer](http://ml-exchange.org/) 

- Free open source deep learning microservices:
	- Use pre-trained or custom-trainable state of the art models
	- Fully tested, deploy in minutes 
	- Approved for personal and commercial use
  - ~Job finding~

Examples of array manipulation:
  ```
    def update_rates():
    conn=sql.connect(database_file)
    rates = Tasa_de_cambio
    for i in range(len(currencies)):
        for j in range(len(currencies)):
            if i==j:continue
                
            pair= "{}-{}".format(currencies[i].upper(),currencies[j].upper())
            #print(pair)

            if pair not in rates and 'CUP' in pair:
                
                #Conversiones a CUP   ### todo, mejorar esto y hacerlo genérico a cada tasa intermedia
                if pair[-3:]=='CUP':
                    temprate="{}-CUC".format(pair[:3])
                    value=1*rates[temprate]*rates['CUC-CUP']
                if pair[:3]=='CUP':
                    temprate="CUC-{}".format(pair[-3:])
                    value=1/float(rates['CUP-CUC']*rates[temprate])
                    value=1/value
                    #print(value)
                rates[pair]=value
    return rates
  ```